{    "Policy": "{"Version":"2008-10-17","Statement":[{"Effect":"Allow","Principal":{"AWS":"arn:aws:iam::261640479576:user/misterbuttons"},"Action":["s3:ListBucket","s3:GetBucketPolicy"],"Resource":"arn:aws:s3:::cats-in-a-bucket"},{"Effect":"Allow","Principal":{"AWS":"arn:aws:iam::261640479576:user/misterbuttons"},"Action":"s3:GetObject","Resource":["arn:aws:s3:::cats-in-a-bucket/cat1.jpg","arn:aws:s3:::cats-in-a-bucket/cat2.jpg","arn:aws:s3:::cats-in-a-bucket/cat3.jpg"]},{"Effect":"Allow","Principal":{"AWS":"arn:aws:iam::261640479576:role/captainclaw"},"Action":"s3:ListBucket","Resource":"arn:aws:s3:::cats-in-a-bucket"},{"Effect":"Allow","Principal":{"AWS":"arn:aws:iam::261640479576:role/captainclaw"},"Action":"s3:GetObject","Resource":"arn:aws:s3:::cats-in-a-bucket/cat4.jpg"}]}"
}
